.container-box {
    transition: box-shadow 0.3s ease;
}

.container-box:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
.video {
    height: 300px; /* Maintain aspect ratio */
    width: auto; /* Make both elements fill their container */
    /*max-width: 60%; /* Ensure they don't exceed container width */
   /* max-height: 90%; /* Ensure they don't exceed container height */
}
.fixed-width-btn {
    width: 150px; /* Adjust the width as needed */
    font-size: 20px;
}
.btn-primary {
    background-color: #2980b9;
    font-size: 20px;
}

.btn-success {
    background-color: #27ae60;
    font-size:20px;
}

.btn-danger{
    font-size:20px;
}
.btn-warning{
    background-color: #f1c40f;
    color: white;
    font-size:20px;
}
.container-box{
    background-color: #ecf0f1;
}
.bg-light-nav-custom{
    background-color: #ecf0f1;
}
.typewriter {
    overflow: hidden;
    white-space: nowrap; /* Prevent line breaks */
    margin: 0 auto; /* Center text horizontally */
    padding: 20px;
    font-family: monospace; /* Use a monospace font for typewriter effect */
    color: black;
}

.img-fluid{
    width: 80%;
}

.global_image_safety{
    width: 60%;
}


    @media (max-width: 576px) { /* Adjust for smaller devices */
        .fixed-width-btn {
            width: 100%; /* Make buttons full width on smaller devices */
            margin-bottom: 5px; /* Add some space between buttons */
        }
        .video {
            height: 200px; /* Maintain aspect ratio */
            width: auto; /* Make both elements fill their container */
            /*max-width: 60%; /* Ensure they don't exceed container width */
           /* max-height: 90%; /* Ensure they don't exceed container height */
        }
        .img-fluid{
            width: 100%;
        }
        .global_image_safety{
            width: 100%;
        }
    }  