.container-box {
    transition: box-shadow 0.3s ease;
}

.container-box:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.container-box-main {
    transition: box-shadow 0.3s ease;
}

.container-box-main:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
.video {
    height: 300px; /* Maintain aspect ratio */
    width: auto; /* Make both elements fill their container */
    /*max-width: 60%; /* Ensure they don't exceed container width */
   /* max-height: 90%; /* Ensure they don't exceed container height */
}

#dataVideo{
    height: 300px; /* Maintain aspect ratio */
    width: auto; /* Make both elements fill their container */
    /*max-width: 60%; /* Ensure they don't exceed container width */
   /* max-height: 90%; /* Ensure they don't exceed container height */
}

.video_global {
    height: 600px; /* Maintain aspect ratio */
    width: auto; /* Make both elements fill their container */
    /*max-width: 60%; /* Ensure they don't exceed container width */
   /* max-height: 90%; /* Ensure they don't exceed container height */
}
.fixed-width-btn {
    width: 150px; /* Adjust the width as needed */
    font-size: 20px;
}
.btn-primary {
    background-color: #2980b9;
    font-size: 20px;
}

.btn-success {
    background-color: #27ae60;
    font-size:20px;
}

.btn-danger{
    font-size:20px;
}
.btn-warning{
    background-color: #f1c40f;
    color: white;
    font-size:20px;
}
.container-box{
    background-color: #ecf0f1;
}

.container-box-main{
    background-color: #ffffff;
}

.bg-light-nav-custom{
    background-color: #ecf0f1;
}
.typewriter {
    overflow: hidden;
    white-space: nowrap; /* Prevent line breaks */
    margin: 0 auto; /* Center text horizontally */
    padding: 20px;
    font-family: monospace; /* Use a monospace font for typewriter effect */
    color: black;
}

.img-fluid{
    width: 80%;
}

.img-fluid-GPT{
    width: 60%;
}


.img-fluid-res{
    width: 40%;
}

.global_image_safety{
    width: 60%;
    height: auto;
}

.exp_image{
    width: 100%;
    height: auto;
}
.text-justify {
    text-align: justify;
    text-justify: distribute;
}

h3 {
    font-family: "Times New Roman", Times, serif; /* Specify serif font */
}
h4 {
    font-family: "Times New Roman", Times, serif; /* Specify serif font */
}
h5 {
    font-family: "Times New Roman", Times, serif; /* Specify serif font */
}
h1 {
    font-family: "Times New Roman", Times, serif; /* Specify serif font */
}
p {
    width: 100%;
    font-family: "Times New Roman", Times, serif; /* Specify serif font */
}

#exp_image_GPT{
    width: 40%;
    height: auto;
    
}

#my_image_dm{
    width: 50%;
    height: auto;
}

    @media (max-width: 2300px) {
        .video {
            width: 80%; /* Make both elements fill their container */
            height: auto;
            /*max-width: 60%; /* Ensure they don't exceed container width */
           /* max-height: 90%; /* Ensure they don't exceed container height */
        }
        .global_image_safety{
            width: 60%;
            height: auto;
        }
    }

    @media (max-width: 1300px){
        #exp_image_GPT{
            width: 60%;
            height: auto;
            
        }
        .video_global {
            width: 100%;
            height: auto;
        }
        #dataVideo{
            
            width: 80%; /* Make both elements fill their container */
            height: auto; /* Maintain aspect ratio */
            /*max-width: 60%; /* Ensure they don't exceed container width */
           /* max-height: 90%; /* Ensure they don't exceed container height */
        }
        #my_image_dm{
            width: 80%;
            height: auto;
        }
    }
    @media (max-width: 576px) { /* Adjust for smaller devices */
        .fixed-width-btn {
            width: 100%; /* Make buttons full width on smaller devices */
            margin-bottom: 5px; /* Add some space between buttons */
        }
        .video {
            height: 200px; /* Maintain aspect ratio */
            width: auto; /* Make both elements fill their container */
            /*max-width: 60%; /* Ensure they don't exceed container width */
           /* max-height: 90%; /* Ensure they don't exceed container height */
        }
        .img-fluid{
            width: 100%;
        }
        .global_image_safety{
            width: 100%;
            height: auto;
        }
        #exp_image_GPT{
            width: 100%;
            height: auto;
            
        }
        #my_image_dm{
            width: 80%;
            height: auto;
        }
    }  